<h1><%= @user.full_name %></h1>
<h2> Sobre </h2>
<ul>
  <li><h3><%= @user.full_name %></h3></li>
  <li><h3><%= @user.email %></h3></li>
  <li> <%= link_to "editar dados cadastrais", edit_user_registration_path(@user) if @user = current_user %></li>
</ul>
<h3> Projetos </h3>
<% if @user.projects.count == 0 %>
  <h4>Este usuário não está envolvido em nenhum projeto </h4>
<% else %>
  <ul>
    <% @user.projects.each do |project| %>
      <li><%= project.name %></li>
    <% end %>
  </ul>
<% end %>