<div class="col col-md-12">
  <h1>Projeto <%= @project.name %></h1>
  <p>Descrição: <%= @project.description %></p>
  <p>Líder do projeto: <%= @project.leader.full_name %></p>
  <div class="row">
    <%= render 'members' %>
  </div>
  <% if current_user == @project.leader %>
    <%= link_to  "Editar", edit_project_path(@project), class:"btn btn-xs btn-success" %>
    <%= link_to 'Apagar', project_path(@project), :method => :delete, 
                          :data => { :confirm => "Tem certeza disso?" },
                          :class => "btn btn-xs btn-danger" %>
  <% end %>
  <div class="row">

    <%= render 'bugs/list', obj: @bugs %>
    <%= link_to  "Reportar novo bug", new_project_bug_path(@project), class:"btn btn-md btn-primary" %>
  </div>
</div>