<h1>Projeto <%= @project.name %></h1>
<p><%= @project.description %></p>
<p><%= @project.leader.full_name %></p>
<%= render 'members' %>

<% if current_user == @project.leader %>
  <%= link_to  "Editar", edit_project_path(@project), class:"btn btn-xs btn-success" %>
  <%= link_to 'Apagar', project_path(@project), :method => :delete, 
                        :data => { :confirm => "Tem certeza disso?" },
                        :class => "btn btn-xs btn-danger" %>
<% end %>
<div class="row">
link_to  "Reportar bug", bug_new_path
</div>