<div class="title">
  <h2>Título: <%= @bug.title %></h2>
</div>
<div class='col col-md-12'>
  <h3>Descrição:</h3>
  <div class="description">
    <%= @bug.description %>
  </div>
  <p>Projeto:<%= @bug.project.name %></p>
  <p>Foi resolvido? <%= @bug.resolvido %></p>
  <% if (current_user == @project.leader) && (@bug.solved? == false) %>
    <%= link_to "Marcar como resolvido", project_bug_mark_as_solved_path(@project, @bug), class:"btn btn-md btn-success" %>
  <% end %>
</div>
<div class='col col-md-12'>
  <%= render 'comments/form' %>
</div>
<div class='col col-md-12 comments'>
    <header>
      <h3>Comentários</h3>
    </header>
    <div class='col col-sm-10 comments'>
      <% if persisted_comments(@bug.comments).any? %>
        <div>
          <% persisted_comments(@comments).each do |comment| %>
            <div class='wrapper'>
              <%= comment.body %>
            </div>
          
            <div>
              <%= time_ago_in_words(comment.created_at) %>
              ago by <%= comment.user.full_name %>
            </div>
            <hr>
          <% end %>
        </div>
      <% else %>
        Não há commentários.
      <% end %>
    </div>
  </div>
